
head
  meta(charset='utf-8')
  title Chat app
  link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Istok+Web|Lora')
  meta(name='description', content='Just a tiny chat app')
